<h1>Posts#index</h1>
<% @posts.each do |post| %>
<ul> <strong><%=post.title %></strong>
<% post.subposts.each do |subpost| %>
<li><%= Sub.find(subpost.sub_id).title %> </li>
<% end %>
<br>
</ul>
<% end %>
